<% if user_signed_in? %>
  
  <div class="stories-container">
    <h2 id=stories>Latest public stories</h2>
    <%= render @stories %>
  </div>

  <div class="device-home">
    <%= link_to new_story_path, style: "text-decoration: none;" do %>
      <div class='newStory-nav-button'>
        <span class="button-text"><%= t('new_story') %></span>
      </div>
    <% end %>

    <%= link_to stories_path, style: "text-decoration: none;" do %>
      <div class='savedStories-nav-button'>
        <%= t('personnal_stories') %>
      </div>
    <% end %>    

    <%= link_to public_story_stories_path  , style: "text-decoration: none;" do %>
      <div class='storyPublic-nav-button'>
        <%= t('story_public') %>
      </div>
    <% end %>
  </div> 

<% else %>

  <div class="device-loginSubscribe">
  
  <h2>Bienvenue sur</h2> 
  <div class="logo"></div> 

  <div class="story-card">     
    <p>"Bardic Reveries" est une application de création d'histoires personnalisées pour enfants, basée sur l'API de GPT. Elle crée des histoires adaptées aux préférences et à l'âge de chaque enfant, stimulant son imagination tout en offrant un divertissement éducatif.</p>
    <br><p>Ici chaque utilisateur est à la barre de son propre voyage narratif. L'application offre une gamme de choix de personnalisation, du thème de l'histoire aux noms des personnages, en passant par l'âge de l'enfant pour adapter le vocabulaire, et même la durée de l'histoire. Les histoires créées peuvent être sauvegardées, partagées.Pour pouvoir commencer à générer des histoires il vous suffit de vous créer un compte et de souscrire à un abonnement.</p>
    <p>Le paiement ce fera via un module de paiement sécurisé intégré.</p>
    </div>  

  <%= link_to new_user_session_path, style: "text-decoration: none;" do %>
      <div class='signIn-nav-button'>
        <%=t('login')%>
      </div>
    <% end %>

    <%= link_to new_user_registration_path, style: "text-decoration: none;" do %>
      <div class='signUp-nav-button'>
        <%=t('subscribe')%>
      </div>
    <% end %>

    <%= link_to root_path, style: "text-decoration: none;" do %>
      <div class='about-nav-button'>
        <%=t('about')%>
      </div>
    <% end %>

  </div>
<% end %>



