<% if user_signed_in? %>
  <div class="device-home">
     <%= link_to new_story_path, style: "text-decoration: none;" do %>
      <div class='newStory-nav-button'>
        New Story
      </div>
    <% end %>
     <%= link_to stories_path, style: "text-decoration: none;" do %>
      <div class='savedStories-nav-button'>
        Saved Stories
      </div>
    <% end %>    
     <%= link_to stories_path, style: "text-decoration: none;" do %>
      <div class='myProfil-nav-button'>
        My Profil
      </div>
    <% end %> 

<% else %>
  <div class="device-loginSubscribe">
    <%= link_to new_user_session_path, style: "text-decoration: none;" do %>
      <div class='signIn-nav-button'>
        Sign In
      </div>
    <% end %>
    <%= link_to new_user_registration_path, style: "text-decoration: none;" do %>
      <div class='signUp-nav-button'>
        Sign Up
      </div>
    <% end %>
    <%= link_to root_path, style: "text-decoration: none;" do %>
      <div class='about-nav-button'>
        About
      </div>
    <% end %>    
  </div>

<% end %>
