<div class="story-summary">

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <h1><%= t("choose_your_subscription_plan") %></h1>
  <div class="subscriptions-container">
    <% @subscription_plans.each do |plan| %>
      <div class="subscription-plan">
        <h2><%= t("subscription_plans.#{plan.name}", default: plan.name) %></h2>
        <p><%= plan.description %></p>
        <p><%= t("price") %>: <%= plan.cost %>€</p>

        <%= form_tag checkout_subscriptions_path, method: :post do %>
          <%= hidden_field_tag :subscription_plan_id, plan.id %>
          <%= submit_tag t("subscribe"), class: "stripe-checkout-button" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @current_subscription %>
    <div class="story-summary current-subscription">
      <h1><%= t("current_subscription") %> <%= t("subscription_plans.#{@current_subscription.subscription_plan.name}", default: @current_subscription.subscription_plan.name) %></h1>
      <p><%= @current_subscription.subscription_plan.description %></p>
      <p>Price: <%= @current_subscription.subscription_plan.cost %>€</p>
      <p><%= t("current_subscription") %> <%= distance_of_time_in_words(Time.now,@current_subscription.expiration_date) %> : <%=@current_subscription.expiration_date%></p>
    </div>
  <% end %>
  
</div>
