<div class="story-summary">
    <h1>Choose your subscription plan</h1>
    <% @subscription_plans.each do |plan| %>
    <div>
        <h2><%= plan.name %></h2>
        <p><%= plan.description %></p>
        <p>Price: <%= plan.cost %>€</p>

        <%= form_for :subscription, url: subscriptions_path, html: {class: "subscription-form"}, method: :post do |f| %>
        <%= f.hidden_field :subscription_plan_id, value: plan.id %>
        <%= f.submit "Subscribe" %>
        <% end %>
    </div>
    <% end %>

    <% if @current_subscription %>
    <h1>Your current subscription</h1>
    <h2><%= @current_subscription.subscription_plan.name %></h2>
    <p><%= @current_subscription.subscription_plan.description %></p>
    <p>Price: <%= @current_subscription.subscription_plan.cost %>€</p>
    <p>Expiration: <%= @current_subscription.expiration_date %></p>
    <% end %>
</div>