<div class="story-summary">

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <h1><%= t('choose_your_subscription_plan') %></h1>
  <% @subscription_plans.each do |plan| %>
  <div>
    <h2><%= plan.name %></h2>
    <p><%= plan.description %></p>
    <p><%= t('price') %> <%= plan.cost %>€</p>

    <%= form_tag checkout_subscriptions_path, method: :post do %>
      <%= hidden_field_tag :subscription_plan_id, plan.id %>
      <%= submit_tag "Subscribe", class: "stripe-checkout-button" %>
    <% end %>
  </div>
  <% end %>

  <% if @current_subscription %>
  <h1>Your current subscription</h1>
  <h2><%= @current_subscription.subscription_plan.name %></h2>
  <p><%= @current_subscription.subscription_plan.description %></p>
  <p>Price: <%= @current_subscription.subscription_plan.cost %>€</p>
  <p>Expiration: <%= @current_subscription.expiration_date %></p>
  <% end %>
</div>
